{% extends 'common/base.html' %}

{% block title %}YAPITASI CRM Görüşme Listesi{% endblock title %}

{% block content %}
 <h1>Görüşme Listesi</h1>

    <table class="table table-striped table-hover">
    <tr>
        <th>Adı Soyadı</th>
        <th>Görüşme Tipi</th>
        <th>Görüşme Tarihi</th>
        <th>İlgilenilen Proje</th>
        <th>Görüşme Notları</th>
    </tr>

    {% for meeting in meeting_list %}
        <tr>
            <td><a href="{% url 'meeting' meeting.id %}">{{ meeting.customer }}</a></td>
            <td>{{ meeting.meeting_type }}</td>
            <td>{{ meeting.meeting_date }}</td>
            <td>{{ meeting.meeting_project }}</td>
            <td>{{ meeting.meeting_comment }}</td>
            <td><a href="{% url 'meeting_update' id=meeting.id %}"><img src="{{ STATIC_URL }}icons/edit_16.png" alt="Düzenle"></a></td>
            <td><a onclick="if(!confirm('Silmek istediğinize emin misiniz?'))return false;" href="{% url 'meeting_delete' id=meeting.id %}"><img src="{{ STATIC_URL }}icons/delete_16.png" alt="Sil"></a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}